@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: var(--blue-end);
}

:root {
  --accent: #8c29f1;
  --blue-start: #3a00d6;
  --blue-end: #8355ff;
  --blue-default: #1a0259;
  --blue-light: #bff5fa;
  --alternative: #01feb6;
  --formal: #eff0f4;
}

* {
  -webkit-tap-highlight-color: var(--transparent);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--accent);
  background: linear-gradient(90deg, var(--accent) 35%, var(--blue-end) 100%);
}

a {
  transition-property: color;
  transition-duration: 300ms;
}

svg {
  fill: none;
}
path,
circle {
  stroke-linecap: round;
  stroke-linejoin: round;
}

::selection {
  background: var(--selection);
}
::-moz-selection {
  background: var(--selection);
}

.floating-letters path:nth-child(n) {
  animation: floating 2000ms 200ms ease-in-out infinite;
}
.floating-letters path:nth-child(2n) {
  animation: floating 2000ms ease-in-out infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translate(0, 0rem);
  }
  50% {
    transform: translate(0, 0.25rem);
  }
}
